.newItem {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 6px 25px 0px rgba(6, 5, 50, 0.05);
  max-width: 250px;
  height: 104px;
  width: 100%;
  padding: 14px 18px;
  display: flex;
  gap: 22px;
  align-items: center;
}
.NewItemProduct {
  color: #000;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
}
.NewItemPrice {
  color: #000;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}
.productImg {
  height: 100%;
}